alacritty/.config/alacritty/theme.yml
alacritty/.config/alacritty/font.yml
alacritty/.config/alacritty/opacity.yml

vim/.vim/sessions/**
vim/.vim/bash-support/**
vim/.vim/plugged/**
vim/.vim/*/plug.vim
*.old

undodir/
language_servers/

auto-save-list/
.cache/
eclipse*/
elpa/
url/
workspace/
.lsp**
.dap**
**#
**~
