#!/bin/bash

alias exbash='exec bash'
alias sbrc='source ~/.bashrc'
alias vbrc='vim ~/.bashrc'

alias clipboard='xclip -selection clipboard'

alias myps='ps f -u $(whoami)'

alias wide-free='free -whlt --si'
alias drop-caches='sudo sync && sudo sysctl -w vm.drop_caches=3'
alias meminfo='cat /proc/meminfo | sort'

if ls --color -d . &> /dev/null
then
    alias ls='ls --color=auto'
elif ls -G -d . &> /dev/null
then
    alias ls='ls -G'        # Compact view, show colors
fi
alias ll='ls -alhF'
alias lac='ls -aCF'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ..='cd ..'

alias g='git'
alias ga='git add'
alias gc='git commit'
alias gcm='git commit -m'
alias gd='git diff'
alias gm='git merge'
alias gst='git status'
alias gsts='git status -s'
alias gpl='git pull'
alias gp='git push'
alias gpo='git push origin'
alias gb='git branch'
alias gba='git branch -a'
alias gr='git remote'
alias gcp='git cherry-pick'
alias gco='git checkout'
alias gloog='git log --oneline --graph'
alias gt='git tag'

alias dk='docker'
alias dkc='docker-compose'

alias rm='rm -I'
alias cp='cp -i'
alias mv='mv -i'
