#!/bin/bash

alias touch_screen='xinput enable "G2Touch Multi-Touch by G2TSP"'
alias clipboard='xclip -selection clipboard'

alias myps='ps f -u $(whoami)'

alias wide-free='free -whlt --si'
alias drop-caches='sudo sync && sudo sysctl -w vm.drop_caches=3'
alias meminfo='cat /proc/meminfo | sort'

alias ls='ls --color=auto'
alias ll='ls -alhF --group-directories-first'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ..='cd ..'

alias g='git'
alias ga='git add'
alias gcm='git commit -m'
alias gd='git diff'
alias gst='git status'
alias gp='git push'
alias gpo='git push origin'
alias gloog='git log --oneline --graph'

alias dk='docker'

alias rm='rm -I'
alias cp='cp -i'
alias mv='mv -i'
